@import url('https://fonts.googleapis.com/css?family=Space+Mono');


body {
    background-color: #0e0e0e;
    font-family: 'Space Mono';
}


header {
    background-color: #0e0e0e;
    color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  
  nav {
    text-align: center;
    margin-bottom: 10px;
    position: fixed;
    top: 87px;
    width: 100%;
    z-index: 2;
  }
  
  nav li {
    display: inline-block;
    width: 60px;
    padding: 5px;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }

  h1 {

  }